<div class="wrap">
    <p>Copyright CC-BY 2014</p>
    <div id="contact">
        <a href="mailto:bridgingdh@gmail.com"><i class="fa fa-paper-plane"></i></a>
        <a href="https://twitter.com/dhbridge"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/dhbridge"><i class="fa fa-github"></i></a>
    </div>
</div>