	<div class="wrap">
	    <h1 id="project_title">DH Bridge</h1>
	    <h2 class="tag">Encouraging Computational Thinking and Digital Skills in the Humanities</h2>

	    <nav id="pages">
	    	<%= link_to 'Computational Thinking', '/index.html' %>
	    	<%= link_to 'About DH Bridge', 'http://dhbridge.org' %>
	    </nav>
	</div>