<div class="wrap">
    <h1 id="project_title">DH Bridge</h1>
    <h2 class="tag">Encouraging Computational Thinking and Digital Skills in the Humanities</h2>

    <nav id="pages">
    	<a href="">Computational Thinking</a>
    	<a href="http://dhbridge.org">About DH Bridge</a>
    </nav>
</div>