<section id="sidebar">
	<h3>Modules</h3>
	<ul>
		<li><a href="">Installation</a></li>
		<li><a href="">The Terminal and Your Computer</a></li>
		<li><a href="">Getting Data</a></li>
		<li><a href="">Thinking about Data</a></li>
		<li><a href="">Using the Loop</a></li>
		<li><a href="">Create Subset of Data</a></li>
		<li><a href="">Create Data from Text Files</a></li>
	</ul>
</section>
