		<section id="sidebar">
			<h3>Modules</h3>
			<ul>
				<li><a href="modules/installation.html">Installation</a></li>
				<li><a href="modules/terminal.html">The Terminal and Your Computer</a></li>
				<li><a href="modules/get_data.html">Getting Data</a></li>
				<li><a href="modules/data.html">Thinking about Data</a></li>
				<li><a href="modules/loop.html">Using the Loop</a></li>
				<li><a href="modules/subset.html">Create Subset of Data</a></li>
				<li><a href="modules/create.html">Create Data from Text Files</a></li>
			</ul>
		</section>
