		<section id="sidebar">
			<h3>Modules</h3>
			<ul>
				<li><a href="http://dhbridge.org/curriculum/modules/installation.html">Installation</a></li>
				<li><a href="http://dhbridge.org/curriculum/modules/terminal.html">Working with your Computer</a></li>
				<li><a href="http://dhbridge.org/curriculum/modules/get_data.html">Getting Data</a></li>
				<li><a href="http://dhbridge.org/curriculum/modules/data.html">Thinking about Data</a></li>
				<li><a href="http://dhbridge.org/curriculum/modules/loop.html">Using the Loop</a></li>
				<li><a href="http://dhbridge.org/curriculum/modules/subset.html">Create Subset of Data</a></li>
				<li><a href="http://dhbridge.org/curriculum/modules/create.html">Create Data from Text Files</a></li>
			</ul>
		</section>
