--- 
title: DH Bridge Curriculum 
---
			<h3>Introduction to Computational Thinking in the Humanities</h3>
			<p>The goal of this curriculum is to introduce programming
		concepts and computational thinking to humanities scholars. Using Python and data from the Digital Public Library of America, this one day workshop focuses on helping humanities scholars think about data while introducing basic programming concepts.</p>
			<p>The curriculum is open source and <a href="https://github.com/dhbridge/curriculum">available on Github</a>. If you see something that could be improved or what to submit another module, <a href="https://github.com/dhbridge/curriculum/issues">send us a note via Github issues</a> or submit a pull request.</p>

			<h3>DH Bridge related FAQs</h3>
			<h4>Can I use the DH Bridge curriculum?</h4>
			<p>Following the example of Rails Bridge and Rails Girls, this curriculum is available under a CC-BY license and so is available to anyone to share and modify. We ask for attribution only.</p>
			<p>If you wish to host a DH Bridge event, we ask that:
			<ul>
				<li>The event be free of charge, and</li>
				<li>The event target a group of people underrepresented among DH coders.</li>
			</ul>
			</p>
			<h3>Credits</h3>
			<p>This curriculum was developed with support of the <a href="http://ach.org/">ACH</a>.</p>
			<p>This initial draft of the curriculum is being developed by Celeste Sharpe and Jeri Wieringa</p>
